
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

button {
 cursor: pointer;
}

@font-face {
    font-family: NotesESA;
    src: url(../assets/fonts/NotesEsaBol.otf);
}

/* Estilos xerais */

:root{
    --cor-principal:#003247;
    --cor-secundario:#335E6F;
    --cor-terciaria:#E8E8E4;
    --fonte-principal: NotesESA;
    --fonte-secundaria: Gill sans;
}

body{
    background: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 10px;
}

/* Header */

header{
    background: var(--cor-principal);
}

.header__nav{
    display: flex;
    justify-content: space-around;
    padding: 18px 0px;
}

/* Main */

main{
    display: flex;
    place-content: center;
}

.planetas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1100px;
}

.planetas__botones{
    margin: 10px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.planetas__boton{
    width: 250px;
    box-sizing: border-box;
    background-color: var(--cor-secundario);
    color: white;
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: 400;
    font-size: 2.3em;
    padding: 16px 0px;
    margin: 5px 0px;
    text-transform: uppercase;
}

.planetas__ficha{
    background-color: white;
    box-sizing: border-box;
    padding-bottom: 20px;
    margin: 0px 10px;
    max-width: 800px;
}

.planetas__ficha video{
    width: 100%;
}

.planetas__h2{
    font-family: var(--fonte-principal);
    color: var(--cor-principal);
    font-weight: 500;
    font-size: 1.3rem;
    margin: 20px 20px;
}

.planetas__p{
    font-family: var(--fonte-secundaria);
    font-size: 0.8rem;
    margin: 20px 20px;
}

.planetas__span{
    font-family: var(--fonte-secundaria);
    font-weight: 700;
}

.planetas__posicion{
    margin: 20px 20px;
}

.footer__p{
    text-align: center;
}