
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root{
    --blue-chill-50: #f2f9f9;
--blue-chill-100: #ddeff0;
--blue-chill-200: #bfe0e2;
--blue-chill-300: #92cace;
--blue-chill-400: #5faab1;
--blue-chill-500: #438e96;
--blue-chill-600: #3b757f;
--blue-chill-700: #356169;
--blue-chill-800: #325158;
--blue-chill-900: #2d464c;
--blue-chill-950: #1a2c32;
--fonte-principal: Arial;
}

body {
 background: var(--blue-chill-600);
 color: var(--blue-chill-100);
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 16px;
 font-family: var(--fonte-principal) ;
}

button {
 cursor: pointer;
}

p{
    padding: 20px 0px;
}