/* Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Estilos Grid */

header{
    background-color: gray;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex; 
}

ul  a{
    color:white;
    text-decoration: none;
    margin-left: 20px;
}

img{
    width: 80px;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.contido{
    background-color: bisque;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    height: 600px;
}

.siderbar{
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    height: 600px;
}

 .publicidade{
    display: grid;
    background-color: lightgreen;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    height: 600px;
    align-items: center;
    justify-items: center;
} 

footer{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 10px 0px;
}